.order-wrap {
    padding-bottom: 25px;
    padding-top: 25px;
}

.orders {
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}

.order-title {
    text-align: center;
}

.order-title > .title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-top: 10px;
    font-weight: 900;
    color: #4d4d4d;
}

.order-title > p {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 24px;
    font-weight: 500;
    color: #131313;
}

.order-container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background: #d8f1d1;
    width: 100%;
}

.order-container > div.order {
    flex-basis: 33.333333333333%;
    text-align: center;
    padding: 20px;
    border: 3px solid #fff;
}

.main-section {
    padding-bottom: 25px;
    padding-top: 25%;
}

.main-section .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}

.main-section .wrapper > .nav {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background: #d8f1d1;
}

.wrapper > .nav li {
    flex-basis: 11.11111111111%;
    text-align: center;
    border: 1px solid #fff;
}

.section-body-wrap {
    padding-bottom: 25px;
    padding-top: 50px;
}

.section-body {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}

.section-food {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.section-food div {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: gold;
}

.section-food > .header {
    margin-left: 40%;
    margin-bottom: 3%;
    background: transparent;
}

.section-food > .header h3 {
    font-size: 1.5em;
    color: #4d4d4d;
    font-weight: 800;
}

.section-food > .header h3 {
    font-size: 1.5em;
    color: #4d4d4d;
    font-weight: 800;
}

.section-food .title h4 {
    font-size: 1.1em;
    color: #4d4d4d;
    font-weight: 600;
}

.section-food div span {
    font-size: 16px;
    color: #131313;
    font-weight: 400;
}

.section-food > div .qty input {
    max-width: 50px;
    color: #4d4d4d;
    font-weight: 800;
}

.section-food div.submit input[type='submit'] {
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 400;
    width: 200px;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-family: "Lato" sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.section-food div.submit input[type='submit']:hover { font-weight: 600; }
.section-food div.submit input[type='submit']:focus { outline: none; }

@media only screen and (max-width: 900px) {
    .wrapper > .nav li {
        flex-basis: 33.333333333333%;
    }
    .wrapper > .nav li a {
        font-size: 16px;
    }

    .section-food div.submit input[type='submit'] {
        font-size: 16px;
    }

    .section-food > .header h3 {
        font-size: 1em;
    }
    
    .section-food .title h4 {
        font-size: 16px;
    }

    .section-food div span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 730px) {
    .section-food div.submit input[type='submit'] {
        margin-left: 15%;
    }

    .section-food div span:not(:nth-last-child(div)) {
        width: 100%;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .orders {
        max-width: 400px;
    }

    .main-section .wrapper {
        max-width: 400px;
    }
    
    .section-body {
        max-width: 400px;
    }
    .section-food div {
        flex-flow: column;
    }

    .section-food div span {
        width: 100%;
        margin-left: 0;
    }
}

