@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    margin-bottom: 0.25em;
}
 ul { 
     list-style: none;
}
a {
    text-decoration: none;
    color: #131313;
}
img {
    display: block;
}

body {
    width: 100%;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 100%;
}

.main-nav {
    height: 18vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.main-nav > .wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav > .logoz {
    display: none;
}

.main-nav > .menu-toggle {
    position: absolute;
    right: 0;
    top: 5px;
}

.wrapper > .navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.navbar li a {
    text-decoration: none;
    color: #333333;
    background: transparent;
    width: 100%;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar li a:hover,
.navbar li a:focus {
    color: #999;
    opacity:0.8;
}

.navbar li.logo a img {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.navbar > .navbar-left {
    width: 60%;
    padding-top: 45px;
    padding-bottom: 20px;
    display: flex;
}

.navbar > .navbar-logoholder {
    widows: 20%;
    display: flex;
}

.navbar > .navbar-logoholder img {
    width: 70%;
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
}

.navbar > .navbar-right {
    width: 60%;
    padding-top: 45px;
    padding-bottom: 20px;
    display: flex;
}


.navbar > .navbar-left > .nav-items {
    width: 33%;
}

.navbar > .navbar-right > .nav-items {
    width: 33%;
}

.main-content {
    width: 100%;
    height: 75vh;
    background: #e9e9e9;
}
.main-content .bgimg {
    height: 100%;
    background: url('../images/shopify-image-background.jpg') center 0px no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.main-content .bgimg > .wrapper {
    max-width: 1300px;
    padding: 0 20px;
}

.wrapper > .content-food {
    width: 100%;
    padding-bottom: 10em;
    padding-top: 10em;
    padding-left: 20px;
}

.wrapper > .content-food h1 {
    font-size: 62px;
    line-height: 1.1;
    color: #4d4d4d;
}

.wrapper > .content-food p {
    line-height: 1.1;
    color: rgb(32, 48, 21);
}

.how-we-serve-you {
    text-align: center;
    background: #fff;
    padding: 15px;
}

.how-we-serve-you > .title {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #131313;
    letter-spacing: -.2px;
    text-align: center;
    line-height: 31px;
    margin-left: 10px;
    margin-right: 20px;
}

.how-we-serve-you .howtostart-list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.howtostart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.howtostart-item img {
    width: 40%;
    max-width: 100px;
    filter: drop-shadow(0 2px 3px #aaa);
}

.howtostart-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.howtostart-item p {
    font-size: 12px;
    line-height: 20px;
}

.howtostart-item h4 > a:hover {
    color: aquamarine;
}

.wrapper-about {
    margin-right: 0;
    padding: 0;
    background: rgba(239, 239, 239, 0.534);
}

.wrapper-about > .wrapper {
    max-width: 1300px;
    padding: 0 20px;
}

.content {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content.about-us {
    min-height: 290px;
    background: url(https://cdn.shopify.com/s/files/1/1456/8506/files/matchax.gif?1175396…) 17% 60% no-repeat;
    background-size: 260px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.content.about-us .group-left {
    min-height: 290px;
    width: 18%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.content.about-us h4 {
    display: block;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 32px;
    margin-top: 110px;
    letter-spacing: .09em;
    color: #333333;
    float: right;
    width: 100%;
    text-align: left;
}

.about-us .group-right {
    padding-right: 0;
    width: 60%;
    float: right;
    margin-left: 20px;
    margin-right: 40px;
}

h3.vertical-text {
    transform: rotate(-90deg);
    height: 100%;
    width: 100%;
    font: 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    margin-left: 60%;
    display: block;
}

.group-left:after,
.group-right:after,
.wrapper-about .wrapper:after,
.wrapper-about:after {
    content: '';
    display: table;
    clear: both;
}

.services-wrapper {
    padding-bottom: 25px;
}

.services-wrapper .services {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}

h2.service-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-bottom: 24px;
    padding-top: 32px;
    font-weight: 500;
}

.food-wrap {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-right: 0;
    padding-left: 0;
    margin-left: 15%;
}

.food-wrap .items {
    border: 2px solid #ccc;
    flex-basis: 25%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
}

.food-wrap .items .item-image {
    width: 100%;
    background-color: #d2d2d2;
    background-position: 50%;
    background-size: 100%;
    height: 0;
    overflow-y: hidden;
    padding-bottom: 56.25%;
}

.food-wrap .item-body {
    border-top: 1px solid #e5e5e5;
    width: 100%;
    background: #e5e5e5;
    text-align: center;
    overflow: hidden;
}

.food-wrap .item-body h3.title {
    padding: 10px;
    display: block;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: .09em;
    color: #111;
    float: right;
    width: 100%;
    text-align: left;
}

.item-body p {
    font-size: 12px;
    color: #131313;
    padding: 10px;
}

.contact-wrapper {
    background: linear-gradient(30deg,#577862,#6c8876);
    color: #fff;
    width: 100%;
}

.contact-us {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.header-container {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin-right: 0;
    margin-left: -16px;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
}

h2.contact-us-title {
    width: 100%;
    display: inline-block;
    padding-left: 16px;
    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-weight: 400;
    padding-bottom: 16px;
    padding-top: 24px;
}

.contact-us-icon-list {
    text-align: right;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin-left: -8px;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    justify-content: flex-end;
    padding-bottom: 55px;
}

.contact-social-link:not(:last-of-type) {
    margin-right: 32px;
}

.contact-social-link-icon {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.contact-social-link-icon.twitter {
    background: url('../images/icons8-twitter.svg') no-repeat;
}

.contact-social-link-icon.facebook {
    background: url('../images/icons8-facebook.svg') no-repeat;
}

.contact-social-link-icon.instagram {
    background: url('../images/icons8-instagram.svg') no-repeat;
}

.contact-social-link-icon.pinterest {
    background: url('../images/icons8-pinterest.svg') no-repeat;
}

.contact-social-link:hover {
    opacity: 0.5;
}

.footer-wrapper {
    padding-top: 60px;
    background: #131313;
    text-align: center;
}

.footer-wrapper .footer {
    width: 100%;
}

.footer .section-list {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    color: #fff;
}



.footer .section-list .foothead {
    color: #fff;
    font-size: 13px;
    padding: 0 0 20px 0;
    font-weight: 700;
}

.footer .section-list ul li {
    font-size: 18px;
}

.footer .section-list ul li a {
    color: #fff;
}

.footer .section-social {
    padding: 0 0 20px;
    color: white;
}

.section-social .contact-social-link-icon {
    background-size: 70%;
}

.footer .section-copyright {
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 1.8em;
    color: #fff;
}

.footer .section-copyright a {
    color: #fff;
    font-size: 16px;
}

/* media Queries */

@media only screen and (max-width: 800px) {
    .main-nav {
        background: #b19913;
        height: auto;
        transition: all 1s ease;
    }
    .main-nav .wrapper {
        background: #402347;
        overflow: hidden;
    }

    .wrapper > .navbar {
        display: flex;
        flex-flow: column wrap;
        transition: all 1s ease;
    }

    .main-nav > .logoz {
        display: inherit;
        margin-left: 40%;
    }

    .main-nav > .logoz  img {
        height: 80px;
    }    

    .main-nav > .menu-toggle {
        position: absolute;
        right: 0;
        top: 5px;
    }

    .main-nav .wrapper {
        position: absolute;
        width: 100%;
        top: 100px;
        height: auto;
        transition: all 1s ease;
    }
    
    .wrapper > ul[data-mode=close] {
        display: none;
    }
    
    .wrapper > ul[data-mode=open] {
        display: inherit;
        transition: all 1s ease;
    }

    .navbar > .navbar-left {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column wrap;
        transition: all 1s ease;

    }
    
    .navbar > .navbar-logoholder {
        display: none;
        transition: all 1s ease;
    }
    
    .navbar > .navbar-logoholder img {
        display: none;
        transition: all 1s ease;
    }
    
    .navbar > .navbar-right {
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column wrap;
        transition: all 1s ease;
    }
    
    .navbar li {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }
    
    .navbar li a {
        color: #fff;
    }
    
    .main-content .bgimg > .wrapper {
        max-width: 700px;
        padding: 0 10px;
    }
    
    .wrapper > .content-food {
        width: 100%;
        padding-bottom: 6em;
        padding-top: 4em;
        padding-left: 10px;
    }
    
    .wrapper > .content-food h1 {
        font-size: 50px;
        line-height: 0.9em;
        color: #4d4d4d;
    }
    
    .wrapper > .content-food p {
        line-height: 1.1em;
        color: rgba(19, 29, 13, 0.836);
        font-weight: 500;
    }
    
    .wrapper-about > .wrapper {
        max-width: 700px;
        padding: 0 10px;
    }
    
    .content.about-us .group-left {
        min-height: 290px;
        width: 14%;
        margin-left: 33%;
        margin-bottom: 30px;
    }
    
    .content.about-us h4 {
        display: block;
        font-size: 16px;
        margin-top: 80px;
        color: #333333;
    }
    
    .about-us .group-right {
        padding-right: 0;
        width: 40%;
        float: right;
        margin-left: 20px;
        margin-right: 40px;
    }
    
    .services-wrapper .services {
        max-width: 700px;
    }
    
    h2.service-title {
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding-bottom: 25px;
        padding-top: 33px;
    }
    
    .food-wrap {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
        margin-left: 0px;
    }
    
    .food-wrap .items {
        border: 2px solid #ccc;
        flex-basis: 25%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin: 10px;
    }
    
    .food-wrap .items .item-image {
        width: 100%;
        background-color: #d2d2d2;
        background-position: 50%;
        background-size: 100%;
        height: 0;
        overflow-y: hidden;
        padding-bottom: 56.25%;
    }
    
    .food-wrap .item-body {
        border-top: 1px solid #e5e5e5;
        width: 100%;
        background: #e5e5e5;
        text-align: center;
        overflow: hidden;
    }
    
    .food-wrap .item-body h3.title {
        padding: 10px;
        display: block;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 30px;
        letter-spacing: .09em;
        color: #111;
        float: right;
        width: 100%;
        text-align: left;
    }
    
    .item-body p {
        font-size: 12px;
        color: #131313;
        padding: 10px;
    }

    .contact-us {
        max-width: 700px;
    }

    .footer .section-copyright {
        font-size: 14px;
        width: 700px;
        margin-left: -10%;
        padding-bottom: 30px;
        line-height: 1.8em;
        color: #fff;
    }
}

@media only screen and (max-width: 940px) {
    .main-content .bgimg > .wrapper {
        max-width: 940px;
        padding: 0 15px;
    }

    .wrapper > .content-food {
        padding-bottom: 10em;
        padding-top: 8em;
        padding-left: 16px;
    }
    
    .wrapper > .content-food h1 {
        font-size: 50px;
        line-height: 1.1em;
        color: #4d4d4d;
    }
    
    .wrapper > .content-food p {
        line-height: 1.1em;
        color: rgb(32, 48, 21);
    }

    .wrapper-about > .wrapper {
        max-width: 940px;
        padding: 0 15px;
    }
    
    .content.about-us .group-left {
        min-height: 290px;
        width: 16%;
        margin-left: 25%;
        margin-bottom: 30px;
    }
    
    .content.about-us h4 {
        display: block;
        font-size: 16px;
        margin-top: 80px;
        color: #333333;
    }
    
    .about-us .group-right {
        padding-right: 0;
        width: 50%;
        float: right;
        margin-left: 30px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 1170px) {
    .content.about-us .group-left {
        min-height: 290px;
        width: 16%;
        margin-left: 25%;
    }
    
    .content.about-us h4 {
        font-size: 18px;
        margin-top: 80px;
    }
    
    .about-us .group-right {
        padding-right: 0;
        width: 50%;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 728px) {
    .main-content .bgimg > .wrapper {
        max-width: 400px;
        padding: 0 10px;
    }

    .contact-us {
        max-width: 400px;
    }

    .footer .section-copyright {
        font-size: 12px;
        width: 400px;
        margin-left: -5%;
        padding-bottom: 30px;
        line-height: 1.8em;
        color: #fff;
    }

    .services-wrapper .services {
        max-width: 400px;
    }

    .wrapper-about > .wrapper {
        max-width: 400px;
        padding: 0 10px;
    }

    .content.about-us .group-left {
        min-height: 290px;
        width: 13%;
        margin-left: 40%;
    }
    
    .content.about-us h4 {
        font-size: 12px;
        margin-top: 80px;
    }
    
    .about-us .group-right {
        padding-right: 0;
        width: 30%;
        margin-left: 20px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .main-content .bgimg > .wrapper {
        max-width: 300px;
    }

    .contact-us {
        max-width: 300px;
    }

    .footer .section-copyright {
        width: 300px;
        margin-left: 0;
    }

    .services-wrapper .services {
        max-width: 300px;
    }

    .wrapper-about > .wrapper {
        max-width: 300px;
    }

    .main-content .bgimg {
        height: 100%;
        background: url('../images/burger.png') center 0px no-repeat;
        background-size: cover;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapper > .content-food {
        padding-top: 10em;
    }
    
    .wrapper > .content-food h1 {
        font-size: 40px;
        line-height: 1em;
        color: #fff;
    }
    
    .wrapper > .content-food p {
        line-height: 1em;
        color: #fff;
    }

    .content.about-us {
        display: block;
        position: relative;
        padding-left: 10%;
    }
    .content.about-us .group-left {
        position: absolute;
        min-height: 290px;
        width: 100%;
        margin-left: 0;
    }

    h3.vertical-text {
        transform: rotate(0deg);
        margin-left: -7%;
        padding-top: 30px;
        display: block;
    }
    
    
    .content.about-us h4 {
        font-size: 12px;
        margin-top: 80px;
    }
    
    .about-us .group-right {
        padding-right: 0;
        width: 80%;
        margin-left: 0px;
        margin-right: 40px;
    }

    .contact-us-icon-list .contact-social-link-icon {
        background-size: 70%;
    }

    .footer .section-copyright {
        margin-left: 0;
    }
}

@media only screen and (max-width: 350px) {
    .contact-us-icon-list {
        margin-left: -16px;
    }
    .contact-us-icon-list .contact-social-link-icon {
        background-size: 40%;
    }
}